<!DOCTYPE html>
<html lang="zh-TW">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>ERP系統工作相關介紹</title>
 <style type="text/css">
  * { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
  h1 {color:blue; font-size:50px;}
  h2 {color:black; font-size:20px;}
 </style>
 


</head>
<body>
 <table width="70%">
  <tr>
   <td>
  <img src="/static/wheelgiant.png"width="110%"></img>
 </td>>

 <td>
  <h1>輪彥國際有限公司 </h1><br>
 </td>
</tr>
</table>
<table width="70%" border="1">
<tr>
 <td>
 <h2>關於公司</h2><br>
  名稱:輪彥國際有限公司<br>
  上班地點:彰化縣彰化市自強路193號)<br>
  工作內容:<br>
   1.建置、管理與維護公司系統。 <br>
   2.開發MIS系統的功能，以符合企業需求。<br>
   3.設計與維護公司網頁。<br> 
   4.處理個人電腦軟硬體的故障問題。<br>  
   5.管理與維護公司網路和資料，並進行備份工作。 <br>
 Contact:<br>
  公司網站:<a href="http://www.wheelgiant.com.tw/">
  https://www.fujifilm.com/fetw/zh-hant</a><br>
  人才招募介紹:MIS工程師_(全職)日班<br>
 </td>

 <td>
  <h2>職務介紹</h2><br>
   營運管理師、<br>
   系統整合專案師、<br>
   ERP專案師、<br>
   系統工程師、<br>
   軟體工程師<br>
 </td>

 <td>
 <h2>徵才條件</h2><br>
  工作經歷:2年以上<br>
  學歷要求:不拘<br>
  科系要求:書籍出版業<br>
  語文條件:不拘<br>
  擅長工具:不拘<br>
  其他條件:<br>
    1.其他：享勞、健、團保，三節獎金、特休<br>
  
 </td>
</tr>
</table>

</body>